@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply bg-backgroundPrimary;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p, span, a, li, ul, ol {
    margin: 0;
    padding: 0;
}

.selected {
    @apply bg-primary-hover text-primary-contrast;
}

